---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---


<body>
      <h3>Data Visualization project to analyze death data </h3>
      
<iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODJhYmYzYzQtNTE4NC00Y2RmLWJhMmQtMzZhMDY5NTY4YzEyIiwidCI6ImQ1Yjk5N2Y1LWFjOWUtNDBiZC04YWY0LTI3OGU4NmQ4NDFkYSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
      
</body>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
