---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---


<body>

<h3> A Data Visualization Project to look at Revenue, Profits, and Orders for an organization. this is fictitious</h3>
<iframe title="DataNerdGuy" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=7de0b3ba-1ce1-46d8-8955-5d3d026f2e81&autoAuth=true&ctid=d5b997f5-ac9e-40bd-8af4-278e86d841da" frameborder="0" allowFullScreen="true"></iframe>

      
      
      <h3> My first Data Visualization project using Microsoft Power BI August 2018 </h3>
      
<iframe title="Report Section" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiODJhYmYzYzQtNTE4NC00Y2RmLWJhMmQtMzZhMDY5NTY4YzEyIiwidCI6ImQ1Yjk5N2Y1LWFjOWUtNDBiZC04YWY0LTI3OGU4NmQ4NDFkYSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>


      
      
</body>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
