---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---


<body>
      <h3>Welcome again to my portfolio page </h3>
<iframe title="Death Data" width="1140" height="541.25" src="https://app.powerbigov.us/reportEmbed?reportId=1c988dee-1678-46bc-b70b-8e62d7b66b91&autoAuth=true&ctid=e95f1b23-abaf-45ee-821d-b7ab251ab3bf" frameborder="0" allowFullScreen="true"></iframe>
      
</body>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
